API_URL=
API_PREFIX=
GOOGLE_MAP_API_KEY=

TAP_TO_PAY_ENABLED=true
TAP_TO_PAY_PROVIDER=AUTHORIZE_NET
TAP_TO_PAY_ENVIRONMENT=production
TAP_TO_PAY_MERCHANT_ID=
TAP_TO_PAY_TERMINAL_ID=
TAP_TO_PAY_SDK_CONFIG_ID=
TAP_TO_PAY_CURRENCY=USD
