<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj7sVXaH5eh_8RuGkY3-_Fas5rOPlJMjo</string>
	<key>GCM_SENDER_ID</key>
	<string>117353735054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rounddacorner.dev.vendor</string>
	<key>PROJECT_ID</key>
	<string>rtcvendormobile</string>
	<key>STORAGE_BUCKET</key>
	<string>rtcvendormobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117353735054:ios:e1e9e69149464a65f5fadf</string>
</dict>
</plist>